<h3 class="container col-6">
  Dados do contato
</h3>>
<div class="card container col-6" >
  <form class="card-block" (ngSubmit)="enviarDados()" *ngIf="!enviado" #formulario="ngForm" >

    <!-- Nome -->
    <div class="form-group" >      
      <label for="nome">Nome</label>
      <input class="form-control"  type="text" id="nome"  name="nome" [(ngModel)]="_nome" #nome="ngModel"
      placeholder="Digite o nome" required [class.form-control-sucess]="nome.valid" />

      <div [hidden]="nome.valid || nome.pristine">
        <small [ngClass]="{'form-control-danger':'nome.invalid || nome.drity'}">O nome é um campo obrigatório.</small>
      </div>
    </div>

    <!-- Campo telefone -->
    <div class="form-group" [class.has-sucess]="telefone.valid" [class.has-danger]="telefone.invalid">
      <label for="telefone">Telefone</label>
      <input class="form-control"  type="text" id="telefone" [(ngModel)]="_telefone" 
      name="telefone" #telefone="ngModel" placeholder="Digite o telefone" required [class.form-control-sucess]="nome.valid" />
      
      <div [hidden]="telefone.pristine">
        <small>O campo telefone é obrigatório</small>
      </div>
    </div>

    <!-- Campo email -->
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" placeholder="Digite o email (opcional)" name="email" type="text" id="email" [(ngModel)]="_email" #email="ngModel" />
    </div>

    <!-- Campo tipo -->
    <div class="form-group">
      <label for="tipo">Tipo do Contato</label>
      <select class="form-control" id="tipo" name="tipo" [(ngModel)]="_tipo" #tipo="ngModel" >
        <option *ngFor="let item of tipos" [value]="item">{{item}}</option>
      </select>
    </div>

    <div class="form-group">
      <button class="btn" type="submit" [disabled]="formulario.invalid" >Cadastrar</button>
    </div>
  </form>
</div>

<div class="card card-block container col-6" *ngIf="enviado">
  <div>
    <h2>Dados do contato Enviado!</h2>
  </div>
  <div>
    <p>Nome do Contato: <strong>{{_nome}}</strong></p>
  </div>
  <div>
    <p>Telefone do Contato: <strong>{{_telefone}}</strong></p>
  </div>
  <div>
    <p>Email do Contato: <strong>{{_email}}</strong></p>
  </div>
  <div>
    <p>Tipo do Contato: <strong>{{_tipo}}</strong></p>
  </div>
  <div class="form-group">
    <button class="btn" (click)="voltar()">Voltar</button>
  </div>
</div>
